body{
    height: 100%;
    width: 100%;
}
header{
height:5%;
background-color:darkcyan;
padding-bottom:0%;
justify-content:space-around;
display: flex;
}

nav{ 
height:10%;
width:100%;
padding-bottom: 6%;
padding-left:15%;
justify-content:space-around;
}

.head1{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    text-align: left;  
    float: left;
}

.head2{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
   text-align: right;  
    float: right;
}
 img{
 float:left;
 height:7%;
 width:10%;
 
 margin-right: 30%;
 position: absolute;
 margin-top: 1%;
 }
/*================================================*/
.navi{
float :right;
 height:100%;
 z-index: 1;
 position: absolute;
margin-right: 50%;
margin-top: 1%;
}

.menu ul {
    height:50%;
    padding:0;
    width:50%;
   
    margin-right: 10%;
   
   
}

.contenu_sous{
   display:none;
    position: absolute;
    z-index: -1;
    vertical-align: middle;
}

li:hover{
  display: block;
}

.menu {
    float:left;
    text-align:center;
    list-style: none;
    font-style: normal;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5;
    margin-left:70%;
    justify-content:space-around;

}

.menu {
   border-left: 1px solid #ccc9c9;
   text-decoration: none;
   color: black;
   display: flex;
 }
 .plusieurs{
     display: block;
 }
  
  /*Ajout d'un style pour masquer le menu deroulant
  et un style pour l'afficher lorqu'un pointeur de souris est 
  placé sur l'élément principal du menu*/
 .plusieurs{
      display:flex;
      align-items:center;
    
  }
.content_sous:hover{
    display :none;
}
 
  /*Styliser le menu déroulant*/
 a,li {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }

  a:hover{
      color: blue;
  }

  li{
      margin-left: 12%;
  }

  .haut{
      width: 100%;
      height: 50%;
      background-color:red;
      margin-left:100%;
      border-radius: 25%;
      letter-spacing:3%;color: white;
      font-size: 80%;
  }

  .menu{
    justify-content: space-around;
    align-items: center;
  }


  /*Changement des bordures pour créer un effet du menu principal */
  .menu li ul a{
    border-left: 1% solid #444444;
    border-right: 1% solid #444444;
    border-top: 1% solid #c9d4d8;
    border-bottom: 1% solid #444444;
  }
  /*=======================================*/

.ul2{
    background-color:white;
    color: black;
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    list-style-image:url("../images/Capture_puce.PNG");
    position:relative;
   padding-bottom: 5%;
   padding-top:5%;
 }

 dt{
    font-size:1.1rem;
    font-family: Arial, Helvetica, sans-serif; 
 }

 dd{
    
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: normal;
 }

  .li2{
    font-size:1.1rem;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom:3%;   
  }
 /*===========================================================*/

article{
width: 95%;
padding-top:2%;
padding-right: 6%;
padding-bottom: 5%;
background-image: url(../images/arriere.jpg);
height:50%;
position:absolute;
}

.harticle{
    height:15%;
    background-color: black;
   display: flex;
   opacity: 0.7;
}

.texte{
    color: white;
    font-family: arial;
    float: right;
    margin-left: 15%;
   margin-top:2% ;
   margin-bottom: 2%;
}

.image{
   margin-bottom: 2%;
   top:2%;
    float: left;
    margin-left:2%;
    margin-right: 5%;
}
#img{
    width:6%;
    height: 6%;
}

.corps_droite_article{
width:43%;
height:60%;
float:left;
margin-left:5%;
position:absolute;
}

.corps_gauche_article{
    height:100%;
    width:42%;
    margin-right: 5%;
    float:right;
    background-color:white;
  
}

.text{
font-size:1.75rem;
font-weight:bold;
font-family: Arial, Helvetica, sans-serif;
}

.bas{
    font-size:1.25rem;
    font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 2%;

}

label{
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size:1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:5%;
    text-align: center;
}

.soumettre {
    width:85%;
    color:white;
    background-color:darkcyan;
    font-weight: bold;
    border-radius:5%;
    font-size: 1.5rem;
    opacity: 0.8;
    padding:2%;
    margin-left: 7%;
    margin-top: -10%;
}

input{
    height:100%;
    width:55%;
    border-radius:10%;
    padding: 5% ;
}

input:focus{
    background-color: #eee89a;
    color:cyan;
}

.form{
    columns:2;
    padding-left: 2%;
    
}
