body{
 height: 100%;
 margin: 0 auto;
 display: inline;

}
/*================================================================*/
.navig{
width: 25%;
height: 100%;
background-color: rgb(107, 33, 33);
float: left;
position: absolute;
}

.infos_perso,.titre,.intro,.contenu {
 margin-left:0;
 margin-right: 10px;

 color:white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  
}

img{
height: 60%;
margin-top: 0.1%;
border-radius: 50%;
margin-bottom:9%;
}

.block_menu {

color:white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.contacts{
 margin-top:20%;
 height:20%;
 width:50%;
 display:flex;
 justify-content:space-around;
 align-items:center;
 margin-left: 20%;

}
 .img_reseau{
 width:25%;
 height:25%;
 margin-right: 4%;
 border-radius:0%;
 
 }
 

.menu{
    display:block;


}
h3{
font-size:  0.5em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-style: italic;
color: white;
}

li {
    list-style-type: none;
    counter-reset: white;
    width: 100%;
    height: 25%;
    color:white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 0.5rem 0.5rem 0.5rem;
    text-align: center;
}

a,.a2{
    text-decoration:none;
    height:100%;
    width:100%;
    color:white;
}

li:hover,a:hover{
    background-color: white;
    color:maroon;
}


ul{
    display: block;
}


/*================================================================*/
.article{
    width: 65%;
   height: 94%;
    background-image: url("../Images/imagep.jpeg");
    background-repeat: no-repeat;
    float: right;
    position:absolute;
    margin-left:25%;
    padding-left:8%;
    padding-right:8%;
    margin-right: 5%;
    padding-top:3%;
}
.titre{
letter-spacing:6px;
}

.intro{
font-size: 2rem;
margin-bottom:15%;
padding:4%;
padding-left: 6%;
padding-right:6%;
}

.contenu{
    height: 50%;
    width: 100%;
}
.cont_2{
    height: 50%;
    width: 100%;
    text-align:justify;
    letter-spacing: 0.1rem
}
span{
    padding-bottom: 1%;
    height:auto;
    width: 200%;
    border-bottom:5px solid maroon;
    border-radius: 10%;
}
.image2{
    float: left;
    border-radius:0%;
    width:40%;
    height: 80%;
    margin-right: 5%;
}
h2{
text-align: center;
}
.a2{
 margin-top: 0.5%;
background-color:maroon;
color:white;
height: 2%;
width:4%;
padding: 2px;
}